/A17_Permission_Authorization
/A7_UserCreationForm
/env
/J13_TS_insideApp
/J15_DjangoTemplate
/J16_MyTables_Models
/J17_templateInheritance
/J18_ModelAdmin
/J19_FormAPI
/J21_Redirect
/J22_ModelForm
/J25_ErrorField
/J26_CRUD_Project
/J30_ModelFormInehritance
/J30_SelectModelFormFields
/J31_MessageFramework
/MyFirstProject
/PracticeTable
/ProjectLevelTemplate
/R13_practice
/URLPattern_12
/viewFunctionBased